<app-navbar></app-navbar>

<div class="container-fluid pb-5">
	<form [formGroup]="form">
		<div class="row mt-4 mb-4 d-flex justify-content-center">
			<div ngbDropdown class="d-inline-block" >
				<button class="btn btn-outline-primary mx-2" id="dropdownBasic1" ngbDropdownToggle>
					<span class="mx-1">Questões</span>
				</button>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<div class="dropdown-button">
						<div *ngFor="let coluna of colunas">
							<div>
								<label ngbDropdownItem><input class="mr-3" type="checkbox" value={{coluna}} (change)="onCheckboxChange($event)">{{coluna}}</label>
							</div>
						</div>
					</div>
				</div>
				<div ngbDropdown class="d-inline-block" >
					<button class="btn btn-outline-primary mr-2" id="dropdownBasic1" ngbDropdownToggle>
						<span class="mx-1">Ano</span>
					</button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
						<div class="dropdown-button">
							<div *ngFor="let a of anos">
								<div>
									<label ngbDropdownItem>
										<input class="mr-3" type="radio" value={{a.ano}} formControlName="anosForm"> {{a.ano}} 
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<button type="button" class="btn btn-success" (click)='enviarDados()'>
					<span class="mx-2">Confirmar</span>
				</button>
			</div>
		</div>
	</form>

	<div>
		<tabset  [justified]="true">
		  	<tab heading="Gráfico de Barra" id="tab1">
				<div class="row flex-column align-content-center mt-4">
					<h5 class="m-5 text-center text-muted"  *ngIf="barChartData.length==0">Selecione os Dados para exibir o Gráfico</h5>

					<!-- <div class="col-12 d-flex justify-content-center">
						<div class="card border-info shadow-sm" style="width: 18rem;" *ngIf="barChartData.length>0">
							<div class="card-header border-info " style="background-color: #00000013;">
							  Resultados
							</div>
							<ul class="list-group list-group-flush">
							  <li class="list-group-item border-info text-info">O número ótimo de k vizinhos: {{kVizinhos}}</li>
							  <li class="list-group-item border-info text-info">O número ideal de dobras f: {{dobrasF}}</li>
							  <li class="list-group-item border-info text-info">Erro de classificação incorreta: {{error}}</li>
							</ul>
						</div>
					</div> -->
					<div class="col-8 m-auto pt-4">
						<div class="card shadow-sm" *ngIf="barChartData.length>0">
							<div class="card-body" >
								<canvas baseChart
									[datasets]="barChartData"
									[labels]="barChartLabels"
									[options]="barChartOptions"
									[plugins]="barChartPlugins"
									[legend]="barChartLegend"
									[chartType]="barChartType">
								</canvas>
							</div>
						  </div>
			
					</div>
				</div>
			</tab>
			<tab heading="Gráfico de Radar" id="tab2">
				<div class="row flex-column align-content-center mt-4">
					<h5 class="m-5 text-center text-muted"  *ngIf="barChartData.length==0">Selecione os Dados para exibir o Gráfico</h5>

					<!-- <div class="col-12 d-flex justify-content-center">
						<div class="card border-info shadow-sm" style="width: 18rem;" *ngIf="barChartData.length>0">
							<div class="card-header border-info " style="background-color: #00000013;">
							  Resultados 
							</div>
							<ul class="list-group list-group-flush">
							  <li class="list-group-item border-info text-info">O número ótimo de k vizinhos: {{kVizinhos}}</li>
							  <li class="list-group-item border-info text-info">O número ideal de dobras f: {{dobrasF}}</li>
							  <li class="list-group-item border-info text-info">Erro de classificação incorreta: {{error}}</li>
							</ul>
						</div>
					</div> -->
					<div class="col-8 m-auto pt-4">
						<div class="card shadow-sm" *ngIf="barChartData.length>0">
							<div class="card-body" >
								<canvas baseChart
								[datasets]="barChartData"
								[options]="radarChartOptions"
								[labels]="barChartLabels"
								[chartType]="radarChartType">
								</canvas>
							</div>
						  </div>
			
					</div>
				</div>		
			</tab>
		</tabset>
	  </div>
	
	 <div class="col-12 d-flex justify-content-center" *ngIf="array_questionario">
						<div class="card border-info shadow-sm" style="width: 18rem;" *ngIf="barChartData.length>0">
							<div class="card-header border-info " style="background-color: #00000013;">
							  Sumario
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item border-info text-info">0 - perguntas não respondidas</li>
							  <li class="list-group-item border-info text-info" *ngFor="let v of array_questionario">{{questionario[v]}}</li>
							</ul>
						</div>
	</div> 
</div>