<app-navbar></app-navbar>
<p>
    <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      Ajuda
    </button>
  </p>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
      <div class="card-body">
        Lorem ipsum dolor sit amet.
      </div>
    </div>
  </div>

<form [formGroup]="form">
<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block mb-3 " ngbTooltip="Escolha uma opção para as colunas do grafico">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Escolha</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

          <table class="table table-borderless">
            <tbody *ngFor="let coluna of colunas">
                <tr> 
                    <div class="form-check">
                    <label ngbDropdownItem><input type="checkbox" value={{coluna}} (change)="onCheckboxChange($event)">{{coluna}} </label>
                    </div>
                </tr>
            </tbody>
        </table>
        </div>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block mb-3">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Ano</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">



          <table class="table table-borderless">
            <tbody *ngFor="let a of anos">
                <tr> 
                    <div class="form-check">
                        <label ngbDropdownItem><input type="radio" value={{a.ano}} formControlName="anosForm"> {{a.ano}} </label>
                    </div>

    
                </tr>
            </tbody>
        </table>
        </div>

      </div>
    </div>

  </div>

  <button type="button" class="btn btn-danger" (click)='enviarDados()'>Confirmar</button>
</form>